// Raleway Font
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  background: url('/images/bg-mobile.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}

.bold {
  font-weight: 700;
}

.large-text {
  font-size: 32px;
  font-weight: 700;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  position: relative;

  .files {
    background-color: var(--dark-blue);
    padding: 2rem;
    border-top-right-radius: 100px;
    border-radius: 10px 100px 10px 10px;
    display: grid;
    gap: 2rem;

    .icons {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(3,50px);
      gap: 1rem;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--very-dark-blue);
        padding: .5rem;
        border-radius: 10px;
      }
    }
  }

  .information {
    background-color: var(--dark-blue);
    padding: 2rem 1.75rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
    position: relative;

    .slider {
      background: var(--very-dark-blue);
      height: 20px;
      border-radius: 10px;

      .progress {
        position: relative;
        top: 2px;
        left: 2px;
        width: 80%;
        height: 15px;
        background:linear-gradient(to right, #ffa399, #ff4d97);
        border-radius: 10px;

        &::before {
          content: '';
          position: absolute;
          top: 1px;
          right: 3px;
          height: 13px;
          width: 13px;
          background: #fff;
         border-radius: 10px;
        }
      }
    }

    .stats {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
    }

  }
  .data-remaining {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 1rem;
    text-align: center;
    background: #fff;
    color: #000;
    border-radius: 10px;
    width: 50%;
    bottom: -30px;
    left: 25%;

    .gray-text {
      color: #727070;
    }
  }
}

@media screen and (min-width: 1000px) {

  body {
    background: url('/images/bg-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card {
    grid-template-areas: 
    '. . . .'
    'file . . .'
    'file info info info'
    'file info info info';
    gap: 3rem;

  .files {
    grid-area: file;
    min-width: 350px;

    h1 {
      margin-top: 1.1rem;
    }
  }
  
  .information {
    grid-area: info;
    width: 600px;
    text-align: left;

    .stats {
      margin: 0;
    }
  }

  .data-remaining {
   left: 80%;
   bottom: 50%;
   width: 160px;

   &::after {
    position: absolute;
    content: '';
    top: 45px;
    right: 0;

    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    border-top: 50px solid white;

   }
  }

  }
}
